<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>Sample Wiget</title>
    <meta name="description" content="Sample widget description.">

    <script src="./bower_components/webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="./src/sample-widget/sample-widget.html">
    <style>
        body {
            margin: 0;
            padding: 0;
        }
    </style>
  </head>
  <body>
    <sample-widget></sample-widget>
  </body>
</html>
